.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.input {
  padding: 11px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  color: rgb(40, 39, 39);
}
.label {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: -5px;
  color: gray;
}
.span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
.input:invalid[focused="true"] {
  border: 1px solid red;
}
.input:invalid[focused="true"] ~ span {
  display: block;
}
