.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 26, 26) 100%);
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
.button1 {
  margin-top: -20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 6px 20px;
  border: 1px solid white;
}

.link {
  color: black;
}
.link:hover {
  color: white;
}
.button1:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}
.nav-sub-item {
  height: 50px;
  width: 150px;
  z-index: 1;
  list-style: none;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  text-decoration: none;
}

.nav-links:hover {
  color: pink;
  border-bottom: 2px solid pink;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.fa-bars {
  color: white;
}
.user-info {
  display: inline;
  color: white;
  height: 80px;
  align-items: center;
  margin-top: 25px;
  padding: 0.5rem 1rem;
}
.menu-icon {
  display: none;
}
.sub-menu {
  text-decoration: none;
  background-color: black;
  z-index: 1;
  list-style: none;
}
.nav-links-mobile {
  display: none;
}

.img {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  margin-right: -15px;
}

.p {
  width: 1.5rem;
  height: 1.5rem;
  right: -2rem;
  top: 0.9rem;
  border-radius: 50%;
  background: #99cbf7;
  color: #fff;
  box-sizing: border-box;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background-color: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .button1 {
    display: none;
    visibility: hidden;
  }
  .fa-times {
    color: white;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid white;
    transition: all 0.2s ease-out;
  }
  .nav-links-mobile:hover {
    background: white;
    color: #242424;
    transition: 250ms;
  }
  .sub-menu {
    position: relative;
    z-index: 0;
    width: 100%;
  }
  .nav-sub-item {
    width: 100%;
  }
}
